@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=Madimi+One&family=Rye&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --navbar-height: 59px;
}

#navbar{
    display: flex;
    align-items: center;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#logo{
    margin: 10px 10px;
}

#logo img{
    height: 70px;
    margin: 0 25px;
}

#search-box{
    position: relative;
    margin-left: auto;
    margin-right: 6%;
}

#navbar input{
    padding: 7px;
    border-radius: 18px;
    cursor: text;
    width: 300px;
    border: none;
}

#navbar input::placeholder{
    padding: 1rem;
    font-family: "IM Fell DW Pica", serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: black;
}

#navbar{
    position: relative;
    background-color: black;
}

#navbar ul{
    font-family: "IM Fell DW Pica", serif;
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.6em;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url(img/back.jpg) no-repeat center center/cover;
    position: absolute;
    height: 60%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    font-family: "Rye", serif;
    color: white;
    text-align: center;
    font-size: 3.5rem;
    padding: 12px;
}

#home p{
    font-family: "Madimi One", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

#services{
    /* margin: 34px; */
    display: flex;
}

.services-container h1{
    font-family: "IM Fell DW Pica", serif;
    font-size: 3.5rem;
    margin: 15px;
}

#services .box{
    border: 2px solid brown;
    margin: 0 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(245, 249, 241);
}

#services .box img{
    height: 135px;
    display: block;
    margin: auto;
}

#client-section{
    height: 242px;
    margin-top: 27px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url(img/back2.jpg) no-repeat center center/cover;
    width: 100%;
    height: 37%;
    z-index: -1;
    opacity: 0.4;
}

#client-section h1{
    font-family: "IM Fell DW Pica", serif;
    font-size: 3.5rem;
    margin: 15px;
    padding: 12px;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    margin: 0 34px;
}

#clients img{
    height: 124px;
}

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(img/contact.jpg) no-repeat center center/cover;
}

#contact h1{
    font-family: "IM Fell DW Pica", serif;
    font-size: 3.5rem;
    margin: 15px;
    margin-bottom: 0;
    padding: 12px;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 27px;
}

#contact-box form{
    font-family: "Madimi One", sans-serif;
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

.h-secondary{
    font-family: "Madimi One", sans-serif;
    font-size: 1.5rem;
    padding: 5px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: grey;
    margin: 18px;
    font-size: 1.5rem;
    border-radius: 15px;
    cursor: pointer;
}

.center{
    text-align: center;
}

